# Build/Make
Makefile
Makefile.in
.deps
.libs
*.la
*.lo

# Autotools/Configure
config.*
INSTALL
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

# Plugin
plugin/mmp-resources.h

# XUL App
xulrunner/application.ini
xulrunner/moonshine.desktop
xulrunner/moonshine
xulrunner/chrome/content/player/
xulrunner/chrome/locale/en-US/version.dtd
xulrunner/extensions/
xulrunner/updates/
xulrunner/defaults/preferences/debug.js

# Extra
*.swp
*.wmv
*.diff

# Dist
*.tar.bz2
*.tar.gz

# XPI
.xpinstall
install.rdf
*.xpi
