# Build/Make
Makefile
Makefile.in
.deps
.libs
*.la
*.lo

# Autotools/Configure
config.*
INSTALL
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

# Extra
*.swp
src/mmp-resources.h
*.wmv
