div#uninstalled {
    background: url(dialog-error.png) no-repeat;
    margin: 10px;
    padding-left: 58px;
    display: none;
}

div#uninstalled h1 {
    margin: 0;
    padding: 0;
    color: #eee;
    font-size: 1.3em;
}

div#uninstalled p {
    color: #ccc;
}

